/* .top-container {
  outline: 1px solid red;
  display: flex;
  flex-direction: row;
} */

.container {
  /* outline: 1px solid red; */
  background-color: black;
  border: 2px solid white;
  box-shadow: 3px 5px grey;
  display: flex;
  justify-content: space-between;
  width: 50%;
  height: 35px;
  margin: 0 auto;
  padding: 30px;
  margin-bottom: 20px;
}

.container * {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  letter-spacing: 10px;
  align-self: center;
}

img {
  width: 15%;
  object-fit: cover;
  display: block;
}
